.graph
  g.tick
    line
      stroke: #eeeeee
    text
      fill: grey

  path.domain
    display: none

  .yaxis path.domain
    fill: #eeeeee

  .a-group
    cursor: pointer

    text
      font-size: 10px
      fill: #cccccc

    circle, text
      +transition

    &:hover circle
      r: 5

    &:hover text
      fill: #666666
